.LogoHome {
    align-self: center;
    animation: animateLogoHome 1500ms forwards;
}

.LogoSmall {
    align-self: flex-start;
    width: 132px;
    height: 141px;
    


    /* animation: animateLogoSmall 650ms forwards; */
    /* transform: translate(calc(-25vw - 15%), calc(-5vh - 40%)) scale(0.45); */
    /* transition: transform 0.3s ease-out;    */
}

@keyframes animateLogoHome {
    0% {
        opacity: 0;
        transform: scale(1.1)
    }

    100% {
        opacity: 100;
        transform: scale(1.0)
    }
}
/* 
@keyframes animateLogoSmall {
    0% {
       
    }
    100% {
        transform:  scale(0.5);
    }
} */

@media (max-width: 500px) {
    .LogoSmall{
        /* opacity: 0; */
        align-self: inherit;
    }
}