.Logo {

}

.LogoHide {
    display: flex;
    transform: translateX(-50%) translateY(-55%) scale(0.45);
    /* transform: translate(calc(-25vw - 15%), calc(-5vh - 40%)) scale(0.45); */
    transition: all 0.3s ease-out;
}

