.Show {
    display: flex;
    flex-direction: column;
}

.ShowBox {
    padding: 20px 0px 20px 0px;
    background-color: #181818;
    border-color: #282828;
    border-width: 2px;    
    border-style: solid;
    border-radius: 10px;
}

.Meta {
    margin: 25px 200px 0px 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}

.MetaText {
    flex-grow: 1;
}

.Seasons {
    margin: 25px 200px 0px 200px;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.ShowStatus {
    display: flex;
    align-items: center;
}

@media (max-width: 500px) {
    .Meta{
        flex-direction: column;
        text-align: center;
        margin: 0px;
        padding: 15px;
    }

    .Seasons {
        margin: 0px;
        flex-wrap: wrap;
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
    }
}