.Show {
    display: flex;
    flex-direction: column;
}

.Meta {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.Seasons {
    margin-top: 50px;
    margin-bottom: 50px;
    display: inherit;
    flex-direction: column;
}