/* .select {
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 10%;
    text-align: auto;
}    .select select {
        font-family: 'Arial';
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 10px 15px;
        outline: 0;
        border: 1px outset #000000;
        border-radius: 20px;
        background: #ffffff;
        color: #4a4a4a;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
        .select select::-ms-expand {
            display: none;
        }
        .select select:hover,
        .select select:focus {
            color: #4a4a4a;
            background: #f3f3f3;
        }
        .select select:disabled {
            opacity: 0.1;
            pointer-events: none;
        } */
/* .select_arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    width: 0px;
    height: 0px;
    border: solid #7b7b7b;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-color: #000000;
}
.select select:disabled ~ .select_arrow {
    border-top-color: #cccccc;
} */


.select {
    margin-left: auto;
    margin-right: auto;
}