.Home {
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SelectedWithoutOption {
    margin-top: 100px;
}

.SelectedWithOption {
    transform: translateY(-250px);
    transition: all 0.3s ease-out;
}