.Home {
    padding: 100px;
    display: flex;
    flex-direction: column;

}

.SelectedWithoutOption {
    margin-top: 100px;
}

.SelectedWithOption {
    transform: translateY(-220px);
    transition: all 0.3s ease-out;
}