.Home {
    padding: 20px;
    display: flex;
    flex-direction: column;

}

.SelectedWithoutOption {
    width: 50%;
}

.SelectedWithOption {
    animation: moveSelector 300ms forwards;
    width: 50%;
}

@keyframes moveSelector{
    0% {

    }

    100% {
        margin-top: -400px;
    }
}

@media (max-width: 500px) {
    .SelectedWithoutOption{
        width: 80%;
    }

    .SelectedWithOption{
        width: 80%;
    }
}